/* Basic Styling */
body{
  background-color: #f5f5f5;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    padding-top: 100px;
}

.app {
  width: 500px;
}

/* Text */ 
h1 {
    background-color: #60495a;
    border-radius: 5px;
    color: #ffffff;
    font-family: sans-serif; 
    font-size: 50px;
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
}

h2 {
    color: #101010;
    font-family: sans-serif;
    font-size: 35px;
    margin: 10px 0;
    padding: 5px 10px;
    text-align: center;
}

h3 {
  color:#ffffff;
  font-family: sans-serif;
  font-size: 20px;
  margin: 5px 0;
}

/* New List Item & Add Button */
#taskInput {
    background-color:#ffffff;
    border: none;
    border-radius: 5px;
    color: #101010;
    font-size: 20px;
    padding: 10px !important;
    width: 395px !important;
}

#taskInput:focus {
    outline: none !important;
}

#toDoList button {
    background-color: #60495a;
    border: none;
    border-radius: 5px;
    color:#ffffff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    height: 40px;
    margin: 0 !important;
    width: 80px;
}

#toDoList button :hover {
    color: #ffffff !important;
} 

/* To Do List: Pending & Completed Sections */ 
#pendingTasks, #completedTasks {
  display: flex;
  flex-direction: column;
}

#pendingTasks div, #completedTasks div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/*#pendingTasks > div > h3, #completedTasks > div > h3 {
  width: 100%;
}*/

.task {
  background-color:#3F3244;
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 5px;
  padding: 10px;
}

button {
  background-color: #3F3244;
  border: none;
  color: #D5C8DC;
}

@media only screen and (max-width: 599px) {
  .container {
    padding-top: 10px;
}

.app {
  width: 350px;
}

#taskInput {
  width: 275px !important;
}

#toDoList button {
  width: 50px;
}

}
